In [1]:
from pySimFinLib import pySimFin

In [2]:
psfObj = pySimFin()

In [3]:
psfObj.get_share_prices(tickers=['MSFT','AAPL'],start='2024-01-02',end='2024-01-05')

Tickers: ['MSFT', 'AAPL'], Type: <class 'list'>
Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

                   SimFinId    Open    High     Low   Close  Adj. Close  \
Ticker Date
AAPL   2024-01-02    111052  187.15  188.44  183.88  185.64      184.53
       2024-01-03    111052  184.22  185.88  183.43  184.25      183.15
       2024-01-04    111052  182.15  183.09  180.88  181.91      180.83
       2024-01-05    111052  181.99  182.76  180.17  181.18      180.10
MSFT   2024-01-02     59265  373.86  375.90  366.77  370.87      367.41
       2024-01-03     59265  369.01  373.26  368.51  370.60      367.14
       2024-01-04     59265  370.67  373.10  367.17  367.94      364.50
       2024-01-05     59265  368.97  372.06  366.50  367.75      364.32

                     Volume  Dividend  Shares Outstanding
Ticker Date
AAPL   2024-01-02  82488674       NaN        1.574423e+10
       2024-01-03  58414460       NaN        1.574423e+10
       2024-01-04  71983570       NaN        1.574423e+10
       2024-01-05  62196924       NaN        1.574423e+10
MSFT   2024-01-02  25258633       NaN        7.446000e+09
       2024-01-03  23083465       NaN        7.446000e+09
       2024-01-04  20901502       NaN        7.446000e+09
       2024-01-05  20074451       NaN        7.446000e+09

In [6]:
psfObj.get_financial_statement(tickers=['MSFT','AAPL'],start='2023-01-02',end='2025-01-05',period='quarterly')

Dataset "us-income-quarterly" on disk (0 days old).
- Loading from disk ...

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
MSFT   2023-03-31      59265      USD         2023            Q3   2023-04-25
       2023-06-30      59265      USD         2023            Q4   2023-07-27
       2023-09-30      59265      USD         2024            Q1   2023-10-24
       2023-12-31      59265      USD         2024            Q2   2024-01-30
AAPL   2023-03-31     111052      USD         2023            Q2   2023-05-05
       2023-06-30     111052      USD         2023            Q3   2023-08-04
       2023-09-30     111052      USD         2023            Q4   2023-11-03
       2023-12-31     111052      USD         2024            Q1   2024-02-02

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
MSFT   2023-03-31     2024-04-25    7.441000e+09      7.464000e+09
       2023-06-30     2024-04-25    7.435000e+09      7.466000e+09
       2023-09-30     2024-10-30    7.429000e+09      7.462000e+09
       2023-12-31     2025-01-29    7.432000e+09      7.468000e+09
AAPL   2023-03-31     2024-05-03    1.578715e+10      1.584705e+10
       2023-06-30     2024-08-02    1.569761e+10      1.577502e+10
       2023-09-30     2024-08-02    1.559943e+10      1.567240e+10
       2023-12-31     2025-01-31    1.550976e+10      1.557664e+10

                         Revenue  Cost of Revenue  ...  \
Ticker Report Date                                 ...
MSFT   2023-03-31   5.285700e+10    -1.612800e+10  ...
       2023-06-30   5.618900e+10    -1.679500e+10  ...
       2023-09-30   5.651700e+10    -1.630200e+10  ...
       2023-12-31   6.202000e+10    -1.962300e+10  ...
AAPL   2023-03-31   9.483600e+10    -5.286000e+10  ...
       2023-06-30   8.179700e+10    -4.538400e+10  ...
       2023-09-30   8.949800e+10    -4.907100e+10  ...
       2023-12-31   1.195750e+11    -6.472000e+10  ...

                    Non-Operating Income (Loss)  Interest Expense, Net  \
Ticker Report Date
MSFT   2023-03-31                   321000000.0            252169232.0
       2023-06-30                   473000000.0            423459957.0
       2023-09-30                   389000000.0            641136606.0
       2023-12-31                  -506000000.0           -175023689.0
AAPL   2023-03-31                    64000000.0            -11990829.0
       2023-06-30                  -265000000.0            -17984596.0
       2023-09-30                    29000000.0            -17975838.0
       2023-12-31                   -50000000.0                    NaN

                    Pretax Income (Loss), Adj.  Abnormal Gains (Losses)  \
Ticker Report Date
MSFT   2023-03-31                 2.267300e+10                      NaN
       2023-06-30                 2.472700e+10                      NaN
       2023-09-30                 2.728400e+10                      NaN
       2023-12-31                 2.652600e+10                      NaN
AAPL   2023-03-31                 2.838200e+10                      NaN
       2023-06-30                 2.273300e+10                      NaN
       2023-09-30                 2.699800e+10                      NaN
       2023-12-31                 4.032300e+10                      NaN

                    Pretax Income (Loss)  Income Tax (Expense) Benefit, Net  \
Ticker Report Date
MSFT   2023-03-31            22673000000                      -4.374000e+09
       2023-06-30            24727000000                      -4.646000e+09
       2023-09-30            27284000000                      -4.993000e+09
       2023-12-31            26526000000                      -4.656000e+09
AAPL   2023-03-31            28382000000                      -4.222000e+09
       2023-06-30            22733000000                      -2.852000e+09
       2023-09-30            26998000000                      -4.042000e+09
       2023-12-31            40323000000                      -6.407000e+09

                    Income (Loss) from Continuing Operations  \
Ticker Report Date
MSFT   2023-03-31                                18299000000
       2023-06-30                                20081000000
       2023-09-30                                22291000000
       2023-12-31                                21870000000
AAPL   2023-03-31                                24160000000
       2023-06-30                                19881000000
       2023-09-30                                22956000000
       2023-12-31                                33916000000

                    Net Extraordinary Gains (Losses)   Net Income  \
Ticker Report Date
MSFT   2023-03-31                                NaN  18299000000
       2023-06-30                                NaN  20081000000
       2023-09-30                                NaN  22291000000
       2023-12-31                                NaN  21870000000
AAPL   2023-03-31                                NaN  24160000000
       2023-06-30                                NaN  19881000000
       2023-09-30                                NaN  22956000000
       2023-12-31                                NaN  33916000000

                    Net Income (Common)
Ticker Report Date
MSFT   2023-03-31           18299000000
       2023-06-30           20081000000
       2023-09-30           22291000000
       2023-12-31           21870000000
AAPL   2023-03-31           24160000000
       2023-06-30           19881000000
       2023-09-30           22956000000
       2023-12-31           33916000000

[8 rows x 26 columns]